#outerbox
{
width:700px;
overflow:hidden;
}
#sliderbox
{
position:relative;
width:2813px;
animation-name:dev;
animation-duration:20s;
animation-iteration-count:infinite;
}
#slider img
{
float:left;
}
@keyframes dev{
0%
{
left:0px;
}
20%
{
left:0px;
}
25%
{
left:-700px;
}
45%
{
left:-700px;
}
50%
{
left:-1400px;
}
70%
{
left:-1400px;
}
75%
{
left:-2098px;
}
95%
{
left:-2098px;
}
100%
{
left:-2813px;
}
}




